:root.theme-light {
  --main-font: "IBM Plex mono";
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: rgba(255, 241, 247, 1);
  --link-color: rgba(53, 52, 48, 1);
  --dec-color: rgba(255, 194, 230, 1);
  --bnt-color-hover: rgba(50, 49, 45, 0.4);
  --title-text-color: rgba(53, 52, 48, 1);
  --header-text-color: rgba(53, 52, 48, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(255, 141, 203, 1);

  .decorative-elements-group,
  .decorative-elements-group::after {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono";
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: rgba(255, 241, 247, 1);
    --link-color: rgba(53, 52, 48, 1);
    --dec-color: rgba(255, 194, 230, 1);
    --btn-color-hover: rgba(50, 49, 45, 0.4);
    --title-text-color: rgba(53, 52, 48, 1);
    --header-text-color: rgba(53, 52, 48, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);

    .decorative-elements-group,
    .decorative-elements-group::after {
      display: none;
    }
  }
}
